:host {}
.painel{

  display: grid;
  grid-template-columns: 50% 50%;

}

.menuSuperior1{

  width: 100%;
  height: 30px;
  background-color: rgb(47,47,47);
  border: 1px solid rgb(74,74,74);
  display: grid;
  grid-template-columns: 50% 50%;
}


.menuSuperior2{

  width: 100%;
  height: 30px;
  background-color: rgb(47,47,47);
  border: 1px solid rgb(74,74,74);
  display: grid;
  grid-template-columns: 15% 85%;
  margin-top: 5px;

}

.menuSuperior2 .grid{

  display: grid;
  grid-template-columns: 50% 50%;
}

.menuSuperior2 .cartao1{


  background-color: rgba(20,115,230,0.2);
  text-align: center; padding-top: 4px;
  color: rgba(255, 255, 255, 0.644);
  display: flex;
  justify-content: space-around;

}


.menuSuperior2 .cartao2{


  background-color:  rgb(53,250,0,0.2);
  text-align: center; padding-top: 4px;
  color: rgba(255, 255, 255, 0.644);
  display: flex;
  justify-content: space-around;

}


.menuLateral{
  background-color:rgb(47,47,47);
  border: 1px solid rgb(74,74,74);
  overflow: hidden;

}
.tela{
  margin-top: 5px;

}
.gridTela{
  display:grid;

  grid-template-columns: 15% 85%; height:100%;
}
.gridExperimentos {

  background-color: rgb(37, 37, 37);
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 50% 50%;
}

.molduraCartao {

  padding: 40px;

}
